.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hidden {
    visibility: hidden;
    display: gone;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.slide {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 2;
}

.blur {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    -webkit-filter: opacity(0);
    -moz-filter: opacity(0);
    -o-filter: opacity(0);
    -ms-filter: opacity(0);
    filter: opacity(0);
}

@media (max-width: 480px) {
    .slide {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}